@model IEnumerable<KMS.EmployeeManagement.Models.Employee>
@{
    ViewBag.Title = "List Employee";
}
<div id="btnBack">
    @Html.ActionLink("New Employee", "NewEmployee", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Create Error", "CreateError", "Error", null, new { @class = "btn btn-danger" })
</div>
<div class="panel panel-primary" id="employeeTable">
    <div class="panel-heading">Employee List</div>
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th><button type="button" id="btnDelete" class="btn btn-danger">Delete</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>
                            @if (employee.Gender)
                            {<p>Male</p> }
                            else
                            {<p>Female</p>}
                        </td>
                        <td><a class="btn btn-info" href="/Employee/EmployeeDetail/@employee.ID">Details</a></td>
                        <td><a href="/Employee/UpdateEmployee/@employee.ID" class="btn btn-danger btn-update" data-id="@employee.ID">Update</a></td>
                        <th><input type="checkbox" class="form-control" value="@employee.ID" name="employeeID" /></th>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>